@import "tailwindcss";

body {
  font-family: "Arial", sans-serif;
  font-size: 9.5pt;
  line-height: 1.35;
  color: #1a1a1a;
}

ul {
  margin: 2px 0;
  padding-left: 16px;
}

li {
  margin-bottom: 1px;
}
